body{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #202020;
}
.social > a {
    margin-right: 32px;
}
.header-top {
    border-bottom: 1px solid #CACACA;
}
.header-info a{
    font-size: 15px;
    line-height: 18px;
    color: #202020;
}
.header-info a + a{
    margin-left: 38px;
}
header ul li + li{
    margin-left: 40px;
}
header ul li a{
    font-weight: 500;
    line-height: 19px;
}
.phone {
    font-weight: 600;
    line-height: 19px;
}
.main-title{
    font-weight: 600;
    line-height: 122.02%;
    margin-top: 24px;
    margin-bottom: 32px;
    z-index: 1;
}
.main-title::after {
    content: "";
    position: absolute;
    width: 189px;
    height: 68px;
    background-image: url('../images/vectors/elipse.svg');
    bottom: -10px;
    right: 220px;
    z-index: -1;
}
.main-content {
    position: relative;
}
.main-content::after{
    content: "";
    position: absolute;
    width: 278px;
    height: 265px;
    background: #4A72FF;
    border-radius: 10px;
    right: 0;
    top: 0;
    z-index: -1;
}
.main-content::before{
    content: "";
    position: absolute;
    width: 168.91px;
    height: 169px;
    background-image: url('../images/vectors/vector.svg');
    left: 0;
    bottom: 0;
}
.main-image img{
    width: 475px;
    height: 432px;
}
.main-circles-top {
    left: 0;
    top: 0;
}
.main-circles-bottom {
    right: 0;
    bottom: 0;
}
.title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.title span {
    width: 30px;
    height: 2px;
    background-color: #4A72FF;
    margin-right: 12.5px;
}
.page-title {
    font-weight: 600;
    line-height: 122.02%;
}
.btn {
    padding: 12px 24px;
    background: #4A72FF;
    cursor: pointer;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.circles {
    flex-wrap: wrap;
    justify-content: space-between;
}
.circles-column {
    width: 60px;
}
.circles-aqua span{
    background: #99F3FF;
    margin: 5px 4px;
}
.circles-row {
    width: 110px;
}
.circles-blue span{
    background: #4A72FF;
    margin: 4px 5px;
}
.services-item-wrapper {
    background-repeat: no-repeat;
    background-size: 276px;
    background-position: center 5px;
    padding-top: 140px;
}
.services-item{
    box-shadow: 2px 4px 11px 3px rgba(136, 136, 156, 0.25);
}
.services-item h6 {
    font-weight: 600;
}
.services-item-list{
    margin-top: 25px;
    padding-left: 58px;
    padding-bottom: 24px;
    padding-right: 10px;
}
.services-item-list li + li {
    margin-top: 12px;
}
.services-item-list li a  img{
    margin-left: 8px;
    line-height: 122.02%;
}
.services-item-list li a:hover img{
    transition: all .3s ease;
    margin-left: 10px;
}
.calculator-wrappeer{
    box-shadow: 2px 4px 11px 4px rgba(136, 136, 156, 0.25);
    padding-top: 56px;
}

form.calculator fieldset labeL {
    font-weight: 600;
    margin-bottom: 24px;
}
form.calculator fieldset select,input,textarea{
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 22px;
    border-color: #C8C8C8;
}
.calculator-list li + li {
    margin-top: 8px;
}
.calculator-list li.c-white{
    background: #4A72FF;
 }
 .calculator-list li.c-black{
    background: #E5EBFF;
 }
.calculator-list li button {
    width: 28px;
    height: 28px;
    z-index: 1;
}
.calculator-list li.c-black button {
    background: #4A72FF;
}
.calculator-list li.disable{
    background-color: #B6F6FF;
}
.calculator-list li.disable::after {
    content: "";
    width: 10%;
    background: #E5EBFF;
    height: 100%;
    right: 0;
    position: absolute;
    z-index: 0;
    border-radius: 0% 10% 10% 0%;
}
.calculator-list-subtitle {
    margin: 48px auto;
    font-weight: 600;
    line-height: 130.02%;
}
.calculator-result h5 {
    font-weight: 600;
    background: #4A72FF;
    border-radius: 10px 10px 0px 0px;
}
.calculator-result-content {
    box-shadow: 2px 4px 11px 4px rgba(136, 136, 156, 0.25);
    border-radius: 10px;
    padding: 32px 12px;
    border-radius: 0px 0px 10px 10px;
}
.calculator-result-content ul li + li {
    margin-top: 12px;
}
.calculator-result-count {
    font-weight: 600;
    line-height: 122.02%;
    color: #4A72FF;
    margin-top: 24px;
}
.calculator-result-content fieldset input,textarea {
    width: 100%;
    border: 1px solid #C8C8C8;
    outline: inherit;
    margin-bottom: 12px;
    resize: none;
}
.calculator-result-content fieldset button {
    margin: 12px auto;
}
.description {
    margin-top: 200px;
}
.description-item-img {
    padding: 35px;
    box-shadow: 3px -2px 6px rgba(34, 17, 85, 0.25);
    width: 180px;
    height: 180px;
    margin: 0 auto;
    z-index: 0;
}
.description-item img {
    width: 111px;
    height: 111px;
    z-index: 1;
}
.description-item h5 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 122.02%;
}
.description-arrow-vector {
    top: 50%;
    transform: translateY(-50%);
} 
.description-arrow-vector-left{
    left: 30%;
}
.description-arrow-vector-right{
    right: 25%;
}
.work-slider .slick-btn {
    bottom: -70px;
}
.work-slider .slick-prev {
    left: 38%;
}
.work-slider .slick-next {
    right: 38%;
}
.work-slider-item h5{
    font-weight: 600;
    line-height: 122.02%;
    margin-bottom: 24px;
}
.work-slider-item p{
    margin-bottom: 14px;
    line-height: 24px;
}
.work-gallery {
    padding-top: 120px;
    padding-bottom: 130px;
}
.work-gallery-item-first  img{
    max-width: 196px;
    max-height: 292px;
}
.gallery-item-main img {
    max-width: 417px;
    max-height: 417px;
}
.gallery-item-top img {
    max-width: 176px;
    max-height: 113px;
}
.gallery-item-last img {
    max-width: 133px;
    max-height: 161px;
}
.work-gallery-circles {
    top: -80px;
    right: 0;
}
.gallery::after,
.gallery::before {
    content: "";
    position: absolute;
    background-image: url('/images/vectors/work-gallery-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
  
}
.work-gallery::before {
    top: 25px;
    left: 25px;
    width: 339px;
    height: 122px;
}
.work-gallery::after {
    right: 30px;
    bottom: -30px;
    width: 339px;
    height: 122px;
}

.work-gallery-item-first {
    bottom: -120px;
    left: 0;
    z-index: 3;
}
.work-gallery-item-main {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 2;
}
.work-gallery-item-top{
    top: -40px;
    left: 25%;
    z-index: 3;
}
.work-gallery-item-last {
    right: 0;
    top: 50%;
    z-index: 3;
}
.calculator-lite-wrapper {
    box-shadow: 0px 4px 37px rgba(33, 27, 94, 0.25);
}
.calculator-lite-content {
    background-color: #4A72FF;
    height: 100%;
    padding: 68px 33px;
    background-image: url('../images/content/calculator-lite-bg.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    border-radius: 16px 0px 0px 16px;
    margin-left: -10px;
}
.calculator-lite-content p{
    width: 380px;
    margin: 0 auto;
    line-height: 133%;
}
.calculator-lite-content p span {
    right: 0;
    bottom: -109px;
    font-size: 64px;
}
.calculator-lite-form {
    padding-left: 48px;
    padding-right: 36px;
    padding-top: 66px;
    border-radius: 0px 16px 16px 0px;
}
.calculator-lite-form fieldset input,select{
    border: 2px solid #E6E6E6;
    border-radius: 25px;
    padding: 12px 24px;
    margin-top: 16px;
    outline: inherit;
    width: 100%;
}
.calculator-lite-inputs {
    width: 100%;
}
.calculator-lite-form .calculator-lite-inputs .input-wrapper{
    margin-top: 32px;
}
.input-wrapper::after{ 
    content: "";
    position: absolute;
    left: 27px;
    top: 30px;
    background-repeat: no-repeat;
}
.name-input-wrapper::after {
    background-image: url('../images/vectors/person.svg');
    height: 18.57002067565918px;
    width: 14.666666984558105px;
}
.phone-input-wrapper::after {
    background-image: url('../images/vectors/phone.svg');
    height: 20px;
    width: 11px;
}
.email-input-wrapper::after {
    background-image: url('../images/vectors/mail.svg');
    height: 15.125px;
    width: 19.25px;
    
}
.calculator-lite-inputs .input-wrapper input{
    padding-left: 54px;
}
.calculator-lite-inputs .input-wrapper input::placeholder{
    color: #000;
} 
.calculator-lite-btn {
    margin: 52px auto;
}

.about-us {
    margin-top: 150px;
}
.about-us-slider .slick-btn {
    bottom: -70px;
}
.about-us-slider .slick-prev {
    left: 38%;
}
.about-us-slider .slick-next {
    right: 38%;
}
.about-us-slide{
    margin-top: 34px;
}
.about-us-slide::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #BABABA;
    top: 50%;
}
.about-us-slide::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #BABABA;
    left: 50%;
}
.about-us-slide-item p {
    font-weight: 600;
}
.about-us-slide-item img {
    width: 80px;
    height: 80px;
    margin-right: -10px;
}
.about-us-slide-item {
    padding-top: 32px;
    padding-bottom: 44px;
}
.about-us-gallery::before {
    top: 105px;
    left: 20px;
    width: 401px;
    height: 144px;
}
.about-us-gallery::after {
    right: 50px;
    bottom: 40px;
    width: 358px;
    height: 129px
}
.about-us-gallery-item-first {
    bottom: 0;
    left: 30px;
    z-index: 3;
}
.about-us-gallery-item-first  img{
    max-width: 340px;
    max-height: 196px;
}
.about-us-gallery-item-top {
    top: 35px;
    left: 23%;
    z-index: 2;
}

.info {
    padding-top: 242px;
    padding-bottom: 242px;
}
.info h4 {
    font-weight: 600;
    font-size: 64px;
    line-height: 122.02%;
    color: #4A72FF;
}
.info p {
    font-weight: 500;
    line-height: 122.02%;
}
.info-circles-top {
    right: 0;
    top: -92px;
}
.info-circles-bottom  {
    left: 0;
    bottom: -92px;
}
.team-slider .slick-dots {
    position: absolute;
    bottom: -32px;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
}
.team-slider .slick-dots li button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #4A72FF;
    font-size: 0;
    margin-right: 12px;
}
.team-slider .slick-dots .slick-active button {
    background: #4A72FF;
}
.team-circles {
    right: 0;
    top: 0;
}
.team-item img{
    filter: drop-shadow(2px 2px 5px rgba(92, 84, 136, 0.25));
    padding-bottom: 16px;
}
.team-info {
    background-image: url('../images/vectors/team-info-vector-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 189px;
    height: 78px;
    margin: 0 auto;
    padding-top: 5px;
}
.team-info h4 {
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 146%;
}
.faq {
    margin-top: 150px;
    margin-bottom: 200px;
}
.faq-list li + li{
    margin-top: 16px;
}
.faq-list li span {
    width: 8px;
    height: 8px;
    background: #4A72FF;
    margin-right: 12px;
}
.faq-btn {
    margin: 50px auto 0 auto;
}
.faq-gallery-item-first {
    bottom: -80px;
    left: 30px;
    z-index: 3;
}
.reviews-vector {
    margin: 34px auto; 

}
.reviews-slider .slick-dots {
    position: absolute;
    bottom: -32px;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
}
.reviews-slider .slick-dots li button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #4A72FF;
    font-size: 0;
    margin-right: 12px;
}
.reviews-slider .slick-dots .slick-active button {
    background: #4A72FF;
}
.reviews-slider .slick-btn {
    top: 50%;
    transform: translateX(-50%);
}
.reviews-slider .slick-prev {
    left: -5%;
}
.reviews-slider .slick-next {
    right: -5%;
}
.reviews-btn {
    margin: 0 auto;
}
.reviews-user img{
    width: 120px;
    height: 120px;
}
.reviews-user p {
    line-height: 31px;
    padding-left: 16px;
}
.reviews-comment {
    margin: 24px 0;
    font-style: italic;
    line-height: 151.02%;
}
.feedback {
    margin-top: 160px;
    margin-bottom: 240px;
}
.feedback-form-wrapper {
    border: 1px solid #C5C5C5;
    border-radius: 25px;
    padding: 32px 71px;
}
.feedback-form {
    padding: 0 18px;
}
.feedback-form fieldset input{
    border: 2px solid #E6E6E6;
    border-radius: 25px;
    padding: 12px 24px;
    margin-top: 16px;
    outline: inherit;
    width: 100%;
}
.feedback-btn {
    margin: 24px auto 0 auto;
}
.feedback-social {
    background: radial-gradient(91.67% 91.67% at 50% 50%, #4A72FF 0%, #006C7A 100%) ;
    border-radius: 25px;
    padding-top: 71px;
    height: 100%;
}
.feedback-social h5 {
    font-weight: 700;
    margin-bottom: 24px;
}
.feedback-social-item + .feedback-social-item {
    margin-left: 43px;
}
.footer {
    border: 1px solid #CACACA;
    padding-top: 24px;
    padding-bottom: 64px;
}
.footer-menu li + li{
    margin-left: 95px;
}
.footer p {
    margin-top: 24px;
}

.slick-btn {
    background:transparent;
    z-index: 30;
}
